* {
    padding : 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
header {
    background-image: url(/DnD/Web/assets/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}
nav{
    display: bloc;
    background-color: rgba(0, 0, 0, 0.1);
}
ul {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: left;
    display: flex;
}
li {
    /* padding: 80px 60px; */
    font-size: 24px;
    list-style-type: none;
}
a {
    font-style: none;
    color: #e6dccf;
    text-decoration: none;
}
a:hover {
    color: #c9a24d;
    transition: calc(0.4s);
}

h1 {
    font-size: 28px;
    padding-left: 40px;
}

img {
    display: block;
}
.titre {
    color: #e6dccf;
    padding: 40px 40px 30px 50px;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.sous-titre a{
    padding: 60px;
    font-size: 22px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.sous-titre {
    display: flex;
    font-family: 'Cinzel', serif;
    padding-left: 40px;
    align-items: center;
    
}
/* .left_button {
    padding-left: 80px;
}
.button{
    border: #e6dccf 1px solid;
    border-radius: 20px;
    padding: 10px 0px;
} */
 main {
    color: #e6dccf;
    height: 60vh;
    width: 50%;
    display: block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
 }
.hero{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
h2{
    font-size: 60px;
    padding-top: 90px;
    padding-bottom: 60px ;
}
h3{
    font-size: 30px;
}